@font-face {
  font-family: "iconfont"; /* Project id 4012350 */
  src: url('iconfont.woff2?t=1786417235256') format('woff2'),
       url('iconfont.woff?t=1786417235256') format('woff'),
       url('iconfont.ttf?t=1786417235256') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-invisible:before {
  content: "\e8d5";
}

.icon-visible:before {
  content: "\ec86";
}

.icon-setting:before {
  content: "\e643";
}

.icon-plugin:before {
  content: "\e61a";
}

.icon-skills:before {
  content: "\e607";
}

.icon-daily-report:before {
  content: "\e698";
}

.icon-fullscreen:before {
  content: "\eb99";
}

.icon-task:before {
  content: "\e63f";
}

.icon-store:before {
  content: "\e652";
}

.icon-proportion:before {
  content: "\e65a";
}

.icon-token:before {
  content: "\e940";
}

.icon-codex:before {
  content: "\ebc9";
}

.icon-hobby:before {
  content: "\e614";
}

.icon-blog:before {
  content: "\e666";
}

.icon-deepseek:before {
  content: "\e600";
}

.icon-shangdian:before {
  content: "\e6ac";
}

.icon-jewelry:before {
  content: "\e605";
}

.icon-cosmetic:before {
  content: "\e611";
}

.icon-skincare:before {
  content: "\e656";
}

.icon-clothes:before {
  content: "\e67c";
}

.icon-toiletries:before {
  content: "\e613";
}

.icon-book:before {
  content: "\e6be";
}

.icon-pants:before {
  content: "\e601";
}

.icon-qunzi:before {
  content: "\e603";
}

.icon-avatar:before {
  content: "\e62c";
}

.icon-theme-exchange:before {
  content: "\e655";
}

